body {
  background: url("../img/road1.jpg"), #4d4d4d;
  background-size: 1300px;
  background-repeat: no-repeat, repeat;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  position: relative;
}

#roadster {
  position: absolute;
  width: 800px;
  margin-top: 300px;
  margin-left: 200px;
}

h1 {
  position: absolute;
  font-family: 'Iceberg', cursive;
  font-size: 100px;
  margin-left: 500px;
  margin-top: -10px;
}

h2 {
  position: absolute;
  font-size: 40px;
  font-family: 'Iceberg', cursive;
  letter-spacing: 10px;
  margin-top: 440px;
  margin-left: 120px;
}

table {
  position: absolute;
  margin-left: 1000px;
  border: 1px solid black;
  background: black;
}

td {
  color: white;
  padding: 10px;
}

td:nth-child(1), td:nth-child(2){
  border-right: solid white 1px;
}

.gallery {
  position: absolute;
  margin-top: 800px;
  margin-left: 250px;
}

.gallery-images img {
  width: 200px;
  float: left;
}

.gallery-images img:nth-child(4n+2) {
  clear: both;
}

.gallery-images {
  position: relative;


}

.gallery-images h3 {

}

.cf:after {
  content: "";
  display: table;
  clear: both;
}
