body {
  background-image: url("../img/road1.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.wrap {
  position: relative;
}

#roadster {
  position: absolute;
  width: 45%;
  margin-top: 30%;
  margin-left: 25%;
}
